/* Como se escrever CSS do jeito certo:
- SELETOR e abre {
- PROPRIEDADE E VALOR e fecha } */

body {                                         /* SELETOR E ABRE { */ 
    background: rgba(163, 153, 153, 0.651);  /* PROPRIEDADE E VALOR E FECHA } */
                                                /* Background muda a cor de fundo da página */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 47, 47);
    margin: 0;
}     

.container{
    width: 1100px;
    margin: 0 auto;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.soc-links {
    text-decoration: none; /*remove os anderline dos links, apenas*/
}

.space {
margin: 0px 5px 0px 5px;
}

.social-profile {
    width: 20px;
    margin: 0px 3px;
}

.linkedin {
    color: rgb(84, 84, 233);
    font-size: 20px;
}

.instagram {
    color: rgb(202, 39, 161);
    font-size: 20px;
}

.github {
    color: rgb(51, 51, 51);
    font-size: 20px;
}

.verde {
    color: green;                           /* um dos meios de criar uma classe para uma tag no html. */
}                                             /* a propriedade color altera a cor de um texto. */

h3 {
    color: blue;                            
}                                               /* Uma forma mais ágil para deixar todo texto daqla tag da mesma cor.
                                                Não faz sentido usar a de cima, pois se vc quer deixar todas as tags
                                                da mesma cor, basta colocar a tag aqui mesmo no CSS para que todas
                                                fiquem da mesma cor. Bem mais prático */
                                        
.foto-principal {
    width: 200px;    
    border: 10px solid black;           
    /* adiciona espaçamento externo a imagem*/
    
    border-radius: 50% 10% 30% 40%;                  
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 600px;
    margin: 30px 30px 0px 30px; /* faz as 4 posições numa linha. para posicionar legal lembrar de um relógio*/

    /* Jeito correto de adicionar uma foto */
    /* modifica os cantos da imagem */
    /* Outro jeito de adicionar as propriedades 
    de cima. Porém, de uma forma mas longa.
    border-width: 10px;
    border-style: solid;
    border-color: black;*/

    padding: 20px;
    /* padding adiciona um espaçamento interno a imagem*/

    box-shadow: 50px 30px 5px rgb(80, 78, 78);
    /*adiciona uma sombra*/
}

#titulo-principal {
    color: yellow;                          /* para "id", utilizamos # */
}

h1 {
    margin-bottom: 0;
    margin-top: 30px;
    letter-spacing: -1px;
}

h3 {
    margin-top: 0;
    font-style: italic;
    color: rgb(68, 67, 67);
    font-weight: bold;
    letter-spacing: -1px;
}

h4 {
    margin-bottom: 5px;
}

h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 200;
    font-style: italic;
}

p {
    margin-top: 0px;
}

.remover-bolinha {
    list-style: none;  /*remove a bolinha que fica na frente do texto de uma lista*/
    padding-left: 20px;
}

.footer {
    background-color: black;
    text-align: center;   /* alinha o texto no centro*/
    color: white;
    margin-top: 50px;
    padding: 10px 0;
}
